In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('/kaggle/input/titanic-cleaned-data/train_clean.csv')
data2=pd.read_csv('/kaggle/input/titanic-cleaned-data/test_clean.csv')

In [3]:
data.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title,Family_Size
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,Mr,1
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,Mrs,1
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,Miss,0
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,Mrs,1
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,Mr,0

In [4]:
data.describe()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived,Family_Size
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,29.445196,32.204208,0.381594,446.000000,2.308642,0.523008,0.383838,0.904602
std,13.244896,49.693429,0.806057,257.353842,0.836071,1.102743,0.486592,1.613459
min,0.420000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,22.000000,7.910400,0.000000,223.500000,2.000000,0.000000,0.000000,0.000000
50%,30.000000,14.454200,0.000000,446.000000,3.000000,0.000000,0.000000,0.000000
75%,35.500000,31.000000,0.000000,668.500000,3.000000,1.000000,1.000000,1.000000
max,80.000000,512.329200,6.000000,891.000000,3.000000,8.000000,1.000000,10.000000

In [5]:
data['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [6]:
data1 = data.drop(["Name" , "Ticket" , "Cabin"  , "PassengerId","Title"],axis=1)

In [7]:
data1.head()

    Age Embarked     Fare  Parch  Pclass     Sex  SibSp  Survived  Family_Size
0  22.0        S   7.2500      0       3    male      1       0.0            1
1  38.0        C  71.2833      0       1  female      1       1.0            1
2  26.0        S   7.9250      0       3  female      0       1.0            0
3  35.0        S  53.1000      0       1  female      1       1.0            1
4  35.0        S   8.0500      0       3    male      0       0.0            0

In [8]:
data1.isnull().sum().sum()

0

In [9]:
data1.isna().sum()

Age            0
Embarked       0
Fare           0
Parch          0
Pclass         0
Sex            0
SibSp          0
Survived       0
Family_Size    0
dtype: int64

In [10]:
data1.nunique()

Age             89
Embarked         3
Fare           248
Parch            7
Pclass           3
Sex              2
SibSp            7
Survived         2
Family_Size      9
dtype: int64

In [11]:
data1['Sex'].replace(['male','female'],[0,1],inplace=True)

In [12]:
data1['Embarked'].replace(['S','C','Q'],[0,1,2],inplace=True)

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
x=data1.drop("Survived",axis=1)
y=data1["Survived"]

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=42)

In [14]:
y.shape

(891,)

In [15]:
clf=LogisticRegression(random_state=0,max_iter=1000).fit(x_train,y_train)

In [16]:
predictions=clf.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.8135593220338984